<ion-view view-title="choose children">
  <ion-nav-bar class="bar-royal"> 
<ion-nav-buttons side="right"><button class="button-clear" ng-click="log_out()">log out<i class="ion-log-out"></i></button></ion-nav-buttons>
  <ion-content>
<ion-list>
<ion-item class="item"
      ng-repeat="project in projects track by $index" ng-click="open_project($index)">
	<h1>{{project}}</h1>
</ion-item>
<ion-item class="item" ng-click="add_proj()">
      <h2>Ajouter un patient</h2>
    </ion-item>

</ion-list>
</ion-content>
</ion-view>
