<ion-view view-title="Thématique">
  <ion-nav-bar class="bar-royal">
<ion-nav-buttons side="left"><button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i> Back</button></ion-nav-buttons>
  </ion-nav-bar>
<ion-content>
<ion-list>
    <ion-item class="item item-thumbnail-left" ng-repeat="categorie in categories track by $index"
    ng-click="open_champ($index)">
      <img src="{{categorie.logo}}">
      <h2>{{categorie.title}}</h2>
    </ion-item>
    <ion-item class="item item-thumbnail-left"
    ng-click="add_champ()">
      <img src="https://cdn2.iconfinder.com/data/icons/designers-and-developers-icon-set/32/add_file-512.png">
      <h2>Ajouter une categorie</h2>
    </ion-item>
</ion-list>
</ion-content>
</ion-view>