<ion-view view-title="qas for '{{categorie_choose}}'" >
   <ion-nav-bar class="bar-royal">
     <ion-nav-buttons side="left">
      <button class="button-clear"
    ng-click="go_categorie()">
    <i class="ion-arrow-left-c"></i> Back
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="create_proto()">
        FINISH
      </button>
    </ion-nav-buttons>
     </ion-nav-bar>
    <ion-content>
          <a class="item item-icon-left royal">
    <i class="icon ion-help"></i>
    need help? see the tutorial
    </a>
        <ion-list>
    <ion-item class="item-remove-animate" ng-repeat="qa in data track by $index">
  <h2>Question-reponse n°{{$index + 1}}</h1>
  <label class="item item-input">
  <span class="input-label">question</span>
  <input type="text" placeholder="questions?" ng-model="data[$index].q">
 </label>
  <label class="item item-input item-select">
    <div class="input-label">
      reponse
    </div> <select name="mySelect" id="mySelect"
      ng-options="option.name for option in items track by option.id"
      ng-model="data[$index].a"></select>
  </label>
        <ion-option-button class="button-assertive" ng-click="del_qa($index)">
          suppr
        </ion-option-button>
      </ion-item>
      </ion-list>
<button class="button button-full button-royal" ng-click="add_qa()">
  ajouter une question reponse
</button>
    </ion-content>
</ion-view>