<ion-view view-title="connect to mon-quotidien" class="background">
      <ion-nav-bar class="bar-royal"></ion-nav-bar>

  <ion-content>
    <div>
    </div>
    <style>
      img {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 250px;
      }
    </style>
    
    <div style="padding-left:10%;padding-right:10%;padding-top:200px;">
    <img ng-src="http://www.cfa-stephenson.fr/sites/default/files/images/%C3%A9cole%2042%20logo.png">
            <h2 style="color: white;">Bienvenue sur Mon-quotidien!</h2>
        <div bgcolor="white">
	<ti-segmented-control on-select="first_log($index)" style="width: 100%;">
        <ti-segmented-control-button class="button-stable" title="'Se connecter'" selected></ti-segmented-control-button>
        <ti-segmented-control-button class="button-stable" title="'S\'inscrire'"></ti-segmented-control-button>
        </ti-segmented-control>
	</div>
      <div class="list list-inset">
        <label class="item item-input">
        <input type="text" id="email" placeholder="email">
        </label>
        <label class="item item-input">
          <input type="password" id="passwordo" placeholder="password">
        </label>
        <label ng-show="fl == 1" class="item item-input">
          <input type="password" id="passwordr" placeholder="retype password">
        </label>
      </div>
      <button ng-show="fl == 0" nav-transition="none" class="button button-light button-block" ng-click="connect()" script="width: 5%; text-align: center;">
        se connecter
      </button>
      <button ng-show="fl == 1" class="button button-light button-block" ng-click="add_account()" script="width: 5%; text-align: center;">
        s'inscrire
      </button>
      <div style="height: 20px">
          <p>{{err}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
