<ion-view view-title="Chart" >
    <ion-nav-bar class="bar-royal">
    <ion-nav-buttons side="left"> <button class="button-clear" ng-click="go_back()"><i class="ion-arrow-left-c"></i> Back</button>
  </ion-nav-bar>
  <ion-content>
      <img ng-src="{{protos[sel].categorie.logo}}" style="width: 120px; height: 120px">
     <h2>la prochaine version permettrat d'afficher des graphes personnalisee</h2>
     <h1>actuellement il y a {{number}} envoie de donnee</h1>
     
     <button class="button button-full button-royal" ng-click="sendmail()">
  envoyer par mail sous format excel
</button>
<p>{{sender}}</p>
<!--
<ion-item class="item" ng-repeat="chartPieValue in value_yna track by $index">
    <h2>for the question: "{{charts_yna[$index].qa}}"</h2>
    <canvas class="chart chart-pie" chart-colours="pie[$index].colours" chart-data="pie[$index].data" chart-labels="pie[$index].labels">
          </canvas>!-->
</ion-item>
  </ion-content>
</ion-view>
