<ion-view view-title="global charts">
      <ion-nav-bar class="bar-royal">
<ion-nav-buttons side="right"><button class="button" ng-click="go_choose()">back <i class="ion-close"></i></button></ion-nav-buttons>
  </ion-nav-bar>
<ion-content>
<h1>Here will be the global chart of the app, where the user will confront the data</h1>
  </ion-content>
</ion-view>
