<ion-view view-title="home">
  <ion-nav-bar class="bar-royal">
<ion-nav-buttons side="right"><button class="button" ng-click="go_choose()">back <i class="ion-close"></i></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      ng-repeat="proto in protos track by $index" type="item-text-wrap" ng-click="open_sel($index)">
        <img ng-src="{{proto.categorie.logo}}">
        <h2>{{proto.categorie.title}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-balanced" ng-click="open_chart($index)">
          see stats
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/categorie">
        <img ng-src="https://cdn4.iconfinder.com/data/icons/media-buttons/512/add-128.png">
        <h2>create you're prototype</h2>
        <p>click here to create a new prototype</p>
      </ion-item>
</ion-list>
  </ion-content>
</ion-view>
