<ion-view view-title="Account">
    <ion-nav-bar class="bar-royal">
<ion-nav-buttons side="right"><button class="button" ng-click="go_choose()">back <i class="ion-close"></i></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <ion-list>
    <ion-toggle ng-model="settings.enableCollect" toggle-class="toggle-royal">
        authorize to collect data 
    </ion-toggle>
  <div class="item item-divider">
    administration des utilisateurs
  </div>
 <a class="item item-light item-icon-left" ng-repeat="user in userauth track by $index" ng-click="del_user($index)">
    <i class="icon ion-person"></i>
    {{user}}
  </a>
    <ion-item class="item item-icon-left" ng-click="add_user()">
        <i class="icon ion-person-add"></i>
      <h2>Ajouter un utilisateur</h2>
	<p>limité a 5 utilisateurs</p>
	<p>les supprimer sera possible en v2</p>
    </ion-item>
  <div class="item item-divider">
    administration des protocoles
  </div>
    <ion-toggle  ng-model="settings.enableRoot" toggle-class="toggle-assertive">
        mode admin
    </ion-toggle>
    <div ng-show="settings.enableRoot == true">
      <div class="item item-divider">
        supprimer les protocoles
  </div>
      <a class="item item-assertive item-icon-left" ng-repeat="proto in protos track by $index" ng-click="del_proto($index)">
    <i class="icon ion-trash-a"></i>
    delete '{{proto.categorie.title}}' create the {{proto.creation_time | date:"MM/dd/yyyy 'at' h:mma"}}
  </a>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
